<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.guanmu.onehours"
    android:versionCode="1"
    android:versionName="1.0">
<!--    // LeanCloud Normal Permissions-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
<!--    // LeanCloud-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <activity
            android:name=".activity.HomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.EditKnowledgeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.TestKnowledgeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SetMissionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme"></activity>
<!--        <activity-->
<!--            android:name="com.tencent.tauth.AuthActivity"-->
<!--            android:launchMode="singleTask"-->
<!--            android:noHistory="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.VIEW" />-->

<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--                <category android:name="android.intent.category.BROWSABLE" />-->
<!--            </intent-filter>-->
<!--        </activity>-->
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/title_activity_settings"></activity>
        <activity
            android:name=".activity.IntroActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_intro"
            android:theme="@style/FullscreenTheme"></activity>
        <activity android:name=".activity.EditImageKnowledgeActivity"></activity>
    </application>

</manifest>